* {
    box-sizing: border-box;
    font-family: 'Share Tech Mono', monospace;
}
.logo{
    height: 45px;
    /*margin-left: 40px;*/
}
.menu{
    margin-left: 10px;

}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 2px 0 rgb(192, 187, 187);
}

header * {
    display: inline-block;
}
header li {
    margin: 5px;
}
header li a {
    color: black;
    text-decoration: none;
    font-size: 0.75em;
    font-weight: 500;
}

#top-right{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
  

}


.sign-in{
    color: black;
    text-decoration: none;
    font-size: 0.75em;
    font-weight: 500;
    margin-right: 1.5em;
    cursor: pointer;
}
.vertical-line{
    border: 1px solid rgb(206, 204, 204);
    height: 18px;
    margin-right: 1em;
}
.subscribe{
    margin-right: 1.5em;
    background-color: #2f6697;
    color: white;
    border: #2f6697;
    font-size: 0.75em;
    font-weight: 500;
    padding: 0.3em 0.8em;
    cursor: pointer;
    border-radius: 2px;
}
.search {
    margin-right: 2.5em;
}
@media screen and (max-width: 600px) {
    header nav{
        display: none;
    }
    .sign-in, .search, .vertical-line{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    header nav{
        display: none;
    }
}
@media screen and (max-width: 820px) {
    .ideas, .security, .science{
        display: none;
    }
    .gear::after{
        content: url(../wired-landing-page/images/more-arrow.png);
        margin: 10px;
        color: black;
    }
    
   
}
